<div ng-hide="successfulRequest">
  <div class="row">
    <div class="col-md-12 col-xs-12">
      <div class="alert alert-danger" ng-show="alerts.incorrect">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert('incorrect')">&times;</button>
        We didn't find an account with that email address.
      </div>
      <div class="alert alert-danger" ng-show="alerts.invalid">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert('invalid')">&times;</button>
        Please enter a valid email address.
      </div>
      <div class="alert alert-danger" ng-show="alerts.invalidResetToken">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true" ng-click="closeAlert('invalidResetToken')">&times;</button>
        Invalid password reset token; please enter your email again.
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-md-offset-4 col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          Forgot password
        </div>
        <div class="panel-body">
          <form accept-charset="UTF-8" autocomplete="off" class="" id="signin-form" name="forgotPasswordForm" novalidate ng-submit="requestPasswordReset(forgottenPasswordEmail)">
            <div class="inputBlock">
              <label name="forgottenPasswordEmailLabel">Email</label>
              <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="form-control" id="login-field" name="email" tabindex="1" type="email" required
              ng-model="forgottenPasswordEmail">
            </div>
            <div>
              <button tabindex="2" type="submit" class="btn btn-default">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" ng-show="successfulRequest">
  <div class="col-md-4 col-md-offset-4 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Password reset confirmation sent!
      </div>
      <div class="panel-body">
        <p>We’ve sent an email to <strong ng-bind="forgottenPasswordEmail"></strong> containing a temporary link
          that will allow you to reset your password for the next 10 hours.</p>
        <p>Please check your spam folder if the email doesn’t appear within a few minutes.</p>
        <div><a href="#/signin" class="btn btn-default">Return to sign in</a></div>
      </div>
    </div>
  </div>
</div>
