<div class="jumbotron">
  <h1 class="text-center">
    mean-local-auth
    <br>
    <small class="darkGray">
      Starter app supporting local authentication
      <br>
      <div>modeled on GitHub's simple, beautiful example</div>
    </small>
  </h1>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <a class="btn btn-lg btn-primary" href="#/signup">View demo&nbsp;→</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <a class="btn btn-default" href="https://github.com/ihinsdale/mean-local-auth">View GitHub Project</a>
      </div>
    </div>
  </div>
</div>
