<div class="jumbotron">
  <h1 class="text-center">
    <span id="headline">mean-local-auth</span>
    <br>
    <small class="darkGray">
      <span id="subHeadline">Starter app supporting local authentication</span>
      <br>
      <small>
        using the MEAN stack and
        <br>
        modeled on GitHub's simple, beautiful <a href="https://github.com/login">example</a>
      </small>
    </small>
  </h1>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <a class="btn btn-lg btn-primary landingBtn" href="#/signup">View demo&nbsp;→</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <a class="btn btn-lg btn-default landingBtn" href="https://github.com/ihinsdale/mean-local-auth">View GitHub project</a>
      </div>
    </div>
  </div>
</div>
