<div class="jumbotron">
  <h1 class="text-center">
    mean-local-auth
    <br>
    <small class="darkGray">
      A starter app supporting local authentication
    </small>
  </h1>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div>Features:</div>
      <ul>
        <li>Sign-up</li>
        <li>Sign-in</li>
        <li>Password resetting</li>
      </ul>
      <div>Modeled on GitHub's simple, beautiful auth forms</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <a class="btn btn-lg btn-primary" href="#/signup">View demo&nbsp;→</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-12 text-center">
      <div class="">
        <a class="" href="https://github.com/ihinsdale/mean-local-auth">View GitHub Project</a>
      </div>
    </div>
  </div>
</div>
